streamlit==1.3.0
pymongo==4.1.0
pymongo[srv]==4.1.0
dnspython==2.2.0
python-dotenv
altair==4.0
bcrypt
streamlit-lottie==0.0.3
st-mui-dialog
email-validator
plotly
pandas
networkx
matplotlib
mplcursors